*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    height: 4000px;
}

a{
    color:#fff;
    text-decoration: none;
}

h1{
    font-size: 3rem;   
    width: 130%;
}

.texto-card h3{
    font-size: 2rem;
}

img{
    border-radius: 10px;

}

#cabecalho{
    background-color: #2B6643;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}

#links-cabecalho, #logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

#pagina{
    height: 100%;
    width: 1300px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;


}

.container, #cards-container{
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;   
}

.container{
    gap: 100px;
}

#text-block{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;

}

#text-block a{
    background-color: #2B6643;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    align-items: center;
    font-size: 1.4rem;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    margin-top: 50px;
    gap: 60px;
}

.card:nth-child(2) {
    flex-direction: row-reverse;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
    background-color: #ebe9e9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}.card:hover, #text-block a:hover{
    transform: scale(1.02); /* Aumenta o card em 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

.texto-card{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px
}







