*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Kanit, sans-serif;
    background-color: #fff;;
}

a{
    color:#fff;
    text-decoration: none;
}

h1{
    font-size: 2rem;   
}

#cabecalho{
    background-color: #2B6643;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}

#links-cabecalho, #logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

#pagina{
    height: 100%;
    width: 1300px;
    display: flex;
    margin: auto;
    flex-direction: column;

}

#container-home{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    font-size: 1rem; 
    
}

#text-block{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
    
}

#text-block a{
    background-color: #2B6643;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    align-items: center;
    font-size: 1.4rem;
    width: 250px;
}

.texto{
    display: flex;
    margin: auto;    
    align-items: center;
    
}



